Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.hin
config.log
config.status
config/Makefile
config/Makefile.am
config/Makefile.in
configure
demo/Makefile
demo/Makefile.am
demo/Makefile.in
demo/binary1
demo/binary2
demo/binary3
docs/Makefile
docs/doc2gih
docs/doc2gih.o
docs/gnuplot.gih
docs/termdoc.o
lisp/Makefile
lisp/Makefile.in
lisp/aclocal.m4
lisp/autom4te.cache/
lisp/config.log
lisp/config.status
lisp/configure
lisp/gnuplot-gui.elc
lisp/gnuplot.elc
m4/Makefile
m4/Makefile.am
m4/Makefile.in
man/Makefile
man/Makefile.in
share/Gnuplot
share/LaTeX/Makefile
share/LaTeX/Makefile.in
share/Makefile
share/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/alloc.o
src/axis.o
src/beos/Makefile
src/bf_test
src/bf_test.o
src/binary.o
src/bitmap.o
src/breaders.o
src/color.o
src/command.o
src/contour.o
src/datafile.o
src/dynarray.o
src/eval.o
src/fit.o
src/gadgets.o
src/getcolor.o
src/getcolor_x11.o
src/gnuplot
src/gnuplot.lua
src/gnuplot_x11
src/gp_cairo.o
src/gp_cairo_helpers.o
src/gpexecute.o
src/gplt_x11.o
src/graph3d.o
src/graphics.o
src/help.o
src/hidden3d.o
src/history.o
src/internal.o
src/interpol.o
src/matrix.o
src/misc.o
src/mouse.o
src/parse.o
src/plot.o
src/plot2d.o
src/plot3d.o
src/pm3d.o
src/readline.o
src/save.o
src/scanner.o
src/set.o
src/show.o
src/specfun.o
src/standard.o
src/stdfn.o
src/tables.o
src/tabulate.o
src/term.o
src/time.o
src/unset.o
src/util.o
src/util3d.o
src/variable.o
src/version.o
src/wxt_gui.o
src/wxterminal/Makefile
src/wxterminal/Makefile.in
stamp-h
stamp-h1
term/Makefile
term/Makefile.am
term/Makefile.in
tutorial/Makefile
tutorial/Makefile.am
tutorial/Makefile.in
tutorial/eg1.tex
tutorial/eg2.tex
tutorial/eg3.tex
tutorial/eg4.tex
tutorial/eg5.tex
tutorial/eg6.tex
tutorial/eg7.eps
tutorial/eg7.tex
tutorial/test.tex
tutorial/tutorial.aux
tutorial/tutorial.dvi
tutorial/tutorial.log
tutorial/tutorial.toc
