Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.hin
config.log
config.status
config/Makefile
config/Makefile.am
config/Makefile.in
configure
demo/Makefile
demo/Makefile.am
demo/Makefile.in
demo/binary1
demo/binary2
demo/binary3
docs/Makefile
docs/doc2gih
docs/doc2gih.o
docs/gnuplot.gih
docs/termdoc.o
lisp/Makefile
lisp/Makefile.in
lisp/aclocal.m4
lisp/autom4te.cache/
lisp/config.log
lisp/config.status
lisp/configure
lisp/gnuplot-gui.elc
lisp/gnuplot.elc
m4/Makefile
m4/Makefile.am
m4/Makefile.in
man/Makefile
man/Makefile.in
share/Gnuplot
share/LaTeX/Makefile
share/LaTeX/Makefile.in
share/Makefile
share/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/beos/Makefile
src/bf_test
src/gnuplot
src/gnuplot.lua
src/gnuplot_x11
src/wxterminal/Makefile
src/wxterminal/Makefile.in
stamp-h
stamp-h1
term/Makefile
term/Makefile.am
term/Makefile.in
tutorial/Makefile
tutorial/Makefile.am
tutorial/Makefile.in
tutorial/eg1.tex
tutorial/eg2.tex
tutorial/eg3.tex
tutorial/eg4.tex
tutorial/eg5.tex
tutorial/eg6.tex
tutorial/eg7.eps
tutorial/eg7.tex
tutorial/test.tex
tutorial/tutorial.aux
tutorial/tutorial.dvi
tutorial/tutorial.log
tutorial/tutorial.toc
